
<h1>
  <strong>Name:</strong>
  <%= @flat.name %>
</h1>

<p>
  <strong>Address:</strong>
  <%= @flat.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flat.description %>
</p>

<%= link_to "back to menu", flats_path %>

